.navbar_custom {
    //margin-top: 100px;
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    //background-color: yellow;
    width: 100%;
    //background-color: red;
}

.header, .header_review {
    padding-top: 100px;
    //background-color: yellow;
    margin-bottom: 30px;
}


.link-green {
    color: green;
}

.link-green:hover {
    color: limegreen;
}